#intro{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;   
}

h1{
    font-family: 'Raleway', sans-serif;   
    text-align: center;
    font-size: 30px;
}

h2{
    font-family: 'Raleway', sans-serif;    
    /* text-align: left; */
    font-size: 20px;
    margin: 20px;
}

#mainImag{
    width: 100%;
}


#logo{
    float: left;
    margin-left: 20px;
    color: rgb(0, 128, 53);
    font-weight: bold;
}

#menuBoxes{
    list-style: none;
    /* margin-left: 100px; */
    margin-top: 65px;
    float: right;
    
}

#menuBoxes li:hover{
    background-color: rgb(0, 128, 53);
}

#menuBoxes li{
    display: inline;
    color: black;
}

a{
    color:black;
    text-decoration: none;
}

#menuBoxes li a:hover{
    text-decoration: underline;
    color: white;
}

.guide{
    margin: 20px;

    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 20px;
    height: 30px;
    padding: 5px;
    margin: 5px;
}

 .sectionTitle{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
    width: 100%;
    font-style: bold;
 }

 hr {
    width: 25%;
    margin-top: 0px;
    margin-bottom: 50px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, 
rgba(0, 0, 0, 0), rgba(233, 78, 84, 0.75), rgba(0, 0, 0, 0));
}

.sobre{
    border: 1px solid white;
    padding: 0px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    line-height: 1.7em;
}

/*#special{
    text-decoration: underline;
    font-size: 30px;
    color: maroon;
    text-align: center;
    margin-top: 100px;
}

#special:hover{
    background-color: maroon;
    color: white;
    font-size: 40px;
}*/

.questions{
    border: 1px solid white;
    padding: 0px;
    background-color: white;
    /*height: 1150px; */
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color:black;
    font-size: 22px;
   
}

/*.Quest{
    text-decoration: underline;
}*/


/*#artes{
    background-color: white; 
    text-align: center;
    font-size: 30px;
    height: 300px;
    border: 1px solid white;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    color:black;
} */

/*.cardIndex{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    line-height: 1.7em;
    color: #333333;
}

.row{
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    line-height: 1.7em;
    color: #333333;
}

.dePontaCabeca{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.dePontaCabecaImage{
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}*/

.artesIntro{
    border: 1px solid white;
    background-color: white;
    text-align: center;
    font-size: 20px;
    line-height: 1.7em;
}

.column {
    float: left;
    width: 32.7%;
    padding: 5px;
    transform: rotate(180deg);
  }
 
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*.imagesArtes{
    padding-left: 30px;
    padding-right: 30px;
    transform: rotate(180deg);
}

#Img1{
    width: 25%;
    align-items: center;
}*/

.estoriasIntro{
    border: 1px solid white;
    padding: 0px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    line-height: 1.7em;
}

#maps{
    float: right;
    margin-right: 140px;
    height: 300px;;
}

#hours{
    margin-left: 300px;
    margin-top: 80px;
    height: 300px;
}

#addy{
    list-style: none;
    margin:0;
    padding: 0;
    margin-top: 20px;
    line-height: 30px;
    font-size: 22px;
    height: 300px;
}

