#intro{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;   
}

h1{
    font-family: 'Raleway', sans-serif;   
    text-align: center;
    font-size: 30px;
}

h2{
    font-family: 'Raleway', sans-serif;    
    /* text-align: left; */
    font-size: 20px;
    margin: 20px;
}

#mainImag{
    width: 100%;
}


#logo{
    float: left;
    margin-left: 20px;
    color: rgb(0, 128, 53);
    font-weight: bold;
}

/* section{
    border: 1px solid black;
    height: 800px;
    width: 1230px;
    padding: 20px;
    margin: 5px;
} */

#menuBoxes{
    list-style: none;
    /* margin-left: 100px; */
    margin-top: 65px;
    float: right;
    
}

#menuBoxes li:hover{
    background-color: rgb(0, 128, 53);
}

#menuBoxes li{
    display: inline;
    color: black;
}

a{
    color:black;
    text-decoration: none;
}

#menuBoxes li a:hover{
    text-decoration: underline;
    color: white;
}




 /* #contentIntro{
     display: flex;
     flex-direction: row; */
     /* flex-wrap: wrap; */
     /* justify-content: space-evenly; */
    /* align-items: center; */

/* 
 } */

 .sectionTitle{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
    width: 100%;
    font-style: bold;
 }

#today{
    border: 1px solid white;
    padding: 20px;
    background-color: white;
    height: 200px;
    text-align: center;
    font-size: 30px;

}

hr {
    width: 25%;
    margin-top: 0px;
    margin-bottom: 50px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, 
rgba(0, 0, 0, 0), rgba(233, 78, 84, 0.75), rgba(0, 0, 0, 0));
}


#special{
    text-decoration: underline;
    font-size: 30px;
    color: maroon;
    text-align: center;
    margin-top: 100px;
}

#special:hover{
    background-color: maroon;
    color: white;
    font-size: 40px;
}



/*#contentMenu{
    display: flex;
    flex-direction: center;
    text-align: center;
} */


.sectionTitle{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
    width: 100%;
    font-style: bold;


    /* border: 1px solid red; */
}

hr {
    width: 25%;
    margin-top: 0px;
    margin-bottom: 50px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, 
rgba(0, 0, 0, 0), rgba(233, 78, 84, 0.75), rgba(0, 0, 0, 0));
}

#menu{
    border: 1px solid white;
    padding: 20px;
    background-color: white;
    height: 1150px;
    text-align: center;
    font-size: 30px;
}



.guide{
    margin: 20px;

    /* display: inline-block;  */
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 20px;
    height: 30px;
    padding: 5px;
    margin: 5px;
}

/* h3{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
    float: auto;
    border: 1px solid black;
    height: 70px;
    width: 200px;
    padding: 10px;
    margin: 5px;
} */

.pizza{
    font-family: 'Raleway', sans-serif;
    color:black;
    /* font-weight: bold; */
    font-size: 22px;
    padding: 20px;
    background-color: white; 
    text-align: center;
    height: 300px;
}

.pizzaName{
    text-decoration: underline;
}


#subscribe{
    background-color: white; 
    text-align: center;
    font-size: 30px;
    height: 300px;
} 

#maps{
    float: right;
    margin-right: 140px;
    height: 300px;;
}

#hours{
    margin-left: 300px;
    margin-top: 80px;
    height: 300px;
}

#addy{
    list-style: none;
    margin:0;
    padding: 0;
    margin-top: 20px;
    line-height: 30px;
    font-size: 22px;
    height: 300px;
}

